<h3>Great, let's add a new recipe!</h3>
<form action="/new" method="post">
  <label for="name">Recipe name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="description">Recipe description:</label><br>
  <input type="text" id="description" name="description"><br>
  <label for="rating">Recipe rating:</label><br>
  <input type="text" id="rating" name="rating"><br>
  <div>
    <br>
    <input type="submit" value="Add a new recipe!" class="button is-link" />
  </div>
</form>
<br>
<form action="/new" method="post">
  <label for="import">Would you rather import recipes from the internet?
    Type a keyword in the field below.</label><br>
  <input type="text" id="import" name="import"><br>
  <div>
    <br>
    <input type="submit" value="See some suggestions!" class="button is-link" />
  </div>
</form>
