html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.menu_option {
  width: 400px;
  height: 40px;
  display: block;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}
